# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Local machine config
local.properties
*.keystore
*.jks
keystore.properties

# Android Studio / IntelliJ
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/deviceStreaming.xml
.idea/AndroidProjectSystem.xml
.idea/migrations.xml
.idea/runConfigurations.xml

# Kotlin/Java
*.iml
out/
captures/

# Native / NDK
.externalNativeBuild/
.cxx/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
